# Copy this file and save it as .env
# Then set the variables

HARDCODED_USER=
HARDCODED_PASSWORD=


TELEGRAM_BOT_TOKEN=

### Will be dynamically renamed ###
PICTURES_TABLE_NAME=pictures
CHECK_MEME_QUEUE_URL=
###################################